<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    {% block head_scripts %}{% endblock %}
    {% if dark_mode is defined %}
    <script>
      localStorage.setItem('darkMode', {{ 'true' if dark_mode else 'false' }});
    </script>
    {% endif %}
    {% if detailed is defined %}
    <script>
      localStorage.setItem('detailedForecast', {{ 'true' if detailed else 'false' }});
    </script>
    {% endif %}
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    {% include "header.html" %}
    <div class="page-body">
      {% include "sidebar.html" %}
      {% block content %}{% endblock %}
    </div>
    <script src="/static/darkmode.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
