<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <div class="login-container">
      <h1>Login</h1>
      {% if error %}
      <p style="color: red">{{ error }}</p>
      {% endif %}
      <form action="/login" method="post">
        <label>
          Username:
          <input type="text" name="username" />
        </label>
        <br />
        <label>
          Password:
          <input type="password" name="password" />
        </label>
        <br />
        <input type="submit" value="Login" />
      </form>
      <p>Need an account? <a href="/signup">Sign up</a></p>
    </div>
    <script src="/static/darkmode.js"></script>
  </body>
</html>
