<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <div class="signup-container">
      <h1>Sign Up</h1>
      <form action="/signup" method="post">
        <label>
          Username:
          <input type="text" name="username" />
        </label>
        <br />
        <label>
          Password:
          <input type="password" name="password" />
        </label>
        <br />
        <input type="submit" value="Sign Up" />
      </form>
      <p>Already have an account? <a href="/login">Login</a></p>
    </div>
    <script src="/static/darkmode.js"></script>
  </body>
</html>
